.logo__header {
  margin: 0;
  font-size: 2rem;
  font-family: "Lora", serif;
  font-weight: 400;
  color: #143774; }

.logo__slogon {
  font-size: 0.75rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  color: #1792d2;
  margin: 0; }

.nav__ul {
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
  padding: 0; }

.nav__el {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  border-bottom: 2px solid transparent;
  margin-left: 2em; }

.nav__a {
  text-decoration: none;
  color: #707070;
  padding-bottom: 0.25em; }

.nav__current {
  border-bottom: 2px solid #707070; }

.nav__a:hover, .nav__a:focus {
  color: #1792d2; }

.nav__current:hover, .nav__current:focus {
  color: #707070; }

@media (max-width: 675px) {
  .nav__ul {
    flex-direction: column;
    text-align: center; }
  .nav__el {
    margin: 0.5em 0; } }

body {
  box-sizing: border-box;
  margin: 0; }

header {
  background-color: #f8f8f8;
  padding: 2em 0; }

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto; }
  .container__nav {
    display: flex;
    justify-content: space-between; }

@media (max-width: 675px) {
  header {
    text-align: center; }
  .container__nav {
    flex-direction: column; } }
