.column-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 25%;
  min-width: 200px;
  margin-left: 1em;

  &__posts {
    &:not(:last-child) {
      padding-bottom: 0.4em;
      border-bottom: 1px solid #707070;
      margin-bottom: 1.8rem;
    }

    h3 {
      font-weight: 400;
      font-size: 1.125rem;
    }
  }

  &__sidebar {
    border: 20px solid #ebebeb;
    padding: 1rem;
  }

  &__img {
    width: 100%;
  }
}

@media (max-width: 675px) {
  .column-2 {
    width: 100%;
    margin-left: 0;

    &__img {
      width: 100%;
      height: 5.5rem;
      object-fit: cover;
      object-position: center;
    }
  }
}
